n8n-workflows/0-ORIGINAL-CTO-Agent.json
{
  "name": "CTO lume everywhere",
  "nodes": [
    {
      "parameters": {},
      "id": "14a86541-69ee-4ba0-8f46-51ed774a8dbb",
      "name": "Think",
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "position": [
        128,
        672
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "toolDescription": "=Relative file path in the repository.\nExamples:\n- package.json\n- PROJECT_CONTEXT.md\n- artifacts/pos-app/package.json",
        "url": "=https://api.github.com/repos/hamdallah24/pos-app/contents/{{ $json.input }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "vnd.github.v3+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        256,
        672
      ],
      "id": "ac93a68d-d7c4-4930-bdfa-6f2f37a0bc85",
      "name": "github_read_file",
      "credentials": {
        "httpBearerAuth": {
          "id": "O6uVngt5buq6gMMf",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "=List files and folders inside a GitHub repository directory.\n\nInput:\npath\n\nExamples:\nartifacts\nartifacts/pos-app\nartifacts/api-server\n\nReturns the files and folders in the specified directory.",
        "url": "=https://api.github.com/repos/hamdallah24/pos-app/contents/{{ $fromAI('path') }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "vnd.github.v3+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        512,
        672
      ],
      "id": "bf7acaad-b94a-40e2-9f81-8f54444c48c2",
      "name": "github_list_directory",
      "credentials": {
        "httpBearerAuth": {
          "id": "O6uVngt5buq6gMMf",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "mimo-v2.5-pro",
          "mode": "list",
          "cachedResultName": "mimo-v2.5-pro"
        },
        "options": {}
      },
      "id": "f091a7d8-4390-4093-9ba1-59eb49fb59b9",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        16,
        672
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "a6DMiTwRmzjqacwH",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.telegram_chat_id || '7218843690' }}",
        "collectionName": "Memory",
        "databaseName": "CLevelAgent",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryMongoDbChat",
      "typeVersion": 1.1,
      "position": [
        -128,
        672
      ],
      "id": "262894f2-1c3d-4a02-b745-650961f5b369",
      "name": "MongoDB Chat Memory",
      "credentials": {
        "mongoDb": {
          "id": "jcufsOhjW9TwWu9Y",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "description": "Gunakan tool ini HANYA jika kamu sudah menganalisis masalah dan siap untuk mengeksekusi perubahan kode (menulis, mengubah, atau memperbaiki file) di repository GitHub. Tool ini akan otomatis memanggil Code Generator, memvalidasi syntax, dan melakukan commit ke branch.\n\nWAJIB isi parameter berikut, JANGAN kosongkan:\n- user_message: instruksi perubahan kode yang detail dan teknis, minimal 1 kalimat lengkap berisi nama file (jika tahu) dan jenis perubahan\n- repo_owner: selalu \"hamdallah24\"\n- repo_name: selalu \"pos-app\"\n- branch: selalu \"Staging\"\n- chat_id: ID chat Telegram pengguna saat ini, untuk kirim notifikasi hasil",
        "workflowId": {
          "__rl": true,
          "value": "86eCJ8nbprRs0CUW",
          "mode": "list",
          "cachedResultUrl": "/workflow/86eCJ8nbprRs0CUW",
          "cachedResultName": "CTO Agent Tools - Stage 4 (Code Generator + Validator + Repair + Commit)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "user_message": "={{ $('Code in JavaScript1').item?.json?.text || 'Tidak ada pesan' }}",
            "repo_owner": "={{ $json.repo_owner || 'hamdallah24' }}",
            "repo_name": "={{ $json.repo_name || 'pos-app' }}",
            "branch": "={{ $json.branch || 'Staging' }}",
            "chat_id": "={{ String($('Code in JavaScript1').item?.json?.chat_id || '7218843690') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user_message",
              "displayName": "user_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "repo_owner",
              "displayName": "repo_owner",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "repo_name",
              "displayName": "repo_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "branch",
              "displayName": "branch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        624,
        672
      ],
      "id": "bbf5cb76-df73-4b3e-bc98-2eb8da0dc5cf",
      "name": "Call 'CTO Agent Tools - Stage 4 (Code Generator + Validator + Repair + Commit)'"
    },
    {
      "parameters": {
        "description": "Gunakan tool ini untuk mendelegasikan tugas teknis ke sub-agent spesialis (Security, DevOps, QA, Software Architect) yang akan membaca skill file SOP dari GitHub sebelum bekerja.\n\nWAJIB isi 6 parameter berikut, JANGAN kosongkan:\n- skill_file: nama file skill, salah satu dari: Security_skill.md, DevOps_skill.md, QA_skill.md, Software_Architect_skill.md\n- task_description: instruksi/tugas teknis yang jelas untuk sub-agent kerjakan\n- repo_owner: selalu \"hamdallah24\"\n- repo_name: selalu \"pos-app\"\n- branch: selalu \"Staging\"\n- telegram_chat_id: ID chat Telegram pengguna saat ini\n\nGunakan tool ini ketika:\n1. User meminta audit keamanan (security)\n2. User meminta deployment atau infrastruktur (devops)\n3. User meminta testing atau quality assurance (qa)\n4. User meminta analisis arsitektur sistem (architect)\n5. User meminta bantuan yang memerlukan keahlian spesifik di luar kemampuan CTO Agent\n\nJANGAN gunakan tool ini untuk:\n- Membaca file (gunakan github_read_file)\n- Melihat struktur folder (gunakan github_list_directory)",
        "workflowId": {
          "__rl": true,
          "value": "RV5wbuCzWhbGS3Nf",
          "mode": "list",
          "cachedResultUrl": "/workflow/RV5wbuCzWhbGS3Nf",
          "cachedResultName": "Sub-Agent: Dynamic Specialist (Chameleon) - Anti Typo"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "repo_owner": "={{ $json.repo_owner || 'hamdallah24' }}",
            "repo_name": "={{ $json.repo_name || 'pos-app' }}",
            "branch": "={{ $json.branch || 'Staging' }}",
            "telegram_chat_id": "={{ String($('Code in JavaScript1').item?.json?.chat_id || '7218843690') }}",
            "task_description": "={{ $json.task_description }}",
            "skill_file": "={{ $json.skill_file || 'SoftwareArchitectskill.md' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "skill_file",
              "displayName": "skill_file",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "task_description",
              "displayName": "task_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "repo_owner",
              "displayName": "repo_owner",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "repo_name",
              "displayName": "repo_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "branch",
              "displayName": "branch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "telegram_chat_id",
              "displayName": "telegram_chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        384,
        672
      ],
      "id": "b652bffb-eae1-4844-948f-6e817dce4ba7",
      "name": "Sub-Agent: Dynamic Specialist"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Code in JavaScript1').item.json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Anda adalah CTO Agent (orchestrator) untuk proyek POS App milik Lumé & DURAL.\n\nPERAN\nAnda TIDAK menulis kode dan TIDAK menganalisis teknis sendiri. Tugas Anda hanya: pahami permintaan → delegasikan ke tool yang tepat → evaluasi hasil → teruskan ke user. Detail teknis (tech stack, isi file, cara implementasi) adalah tanggung jawab sub-agent, BUKAN Anda.\n\nBAHASA & FORMAT\nBahasa Indonesia. Beri Penjelasan Singkat, padat, jelas, profesional. Maksimal 4000 karakter.\n\nROUTING (pilih satu)\n1. Baca file saja (contoh: \"baca package.json\") → github_read_file. Jangan pakai sub_agent.\n2. Lihat struktur folder (contoh: \"scan repository\") → github_list_directory. Jangan pakai sub_agent.\n3. Apa pun yang menyangkut source code, bug, fitur, refactor, security, deployment, database, architecture, performance, testing, repository → WAJIB sub_agent. JANGAN PERNAH menganalisis atau menjawab teknis ini sendiri.\n\nPEMILIHAN SUB-AGENT (skill_file)\n- Security_skill.md → auth, session, csrf, xss, sql injection, rate limit, audit keamanan\n- DevOps_skill.md → deployment, docker, ci/cd, nginx, pm2, server, hosting\n- QA_skill.md → testing, bug hunting, validation, regression\n- Software_Architect_skill.md → fitur baru, refactor, database, desain sistem, performa\n\nALUR WAJIB\n1. Panggil sub_agent dengan parameter: skill_file (pilih sesuai tabel di atas), task_description (jelas dan teknis), repo_owner=\"hamdallah24\", repo_name=\"pos-app\", branch=\"Staging\", telegram_chat_id=ID chat Telegram user saat ini.\n2. Evaluasi hasil sub_agent.\n3. Jika hasil hanya laporan/analisis/rekomendasi umum → teruskan ke user, STOP. Jangan panggil code_generator.\n4. Jika hasil mengandung rekomendasi perubahan kode konkret → ringkas jadi instruksi implementasi yang actionable, lalu panggil code_generator.\n   - user_message WAJIB: kalimat teknis lengkap, minimal 10 kata, sebutkan nama file (jika diketahui) dan jenis perubahan persis.\n   - Contoh BENAR: \"Tambahkan express-rate-limit pada endpoint /api/users dengan batas 5 request per menit di server/routes/users.ts\"\n   - Contoh SALAH (jangan kirim seperti ini): \"perbaiki rate limit\" — terlalu pendek, akan ditolak sistem.\n   - repo_owner=\"hamdallah24\", repo_name=\"pos-app\", branch=\"Staging\", chat_id=ID chat Telegram user saat ini.\n\nLARANGAN\n- Jangan panggil code_generator langsung dari permintaan user tanpa melalui sub_agent.\n- Jangan mengarang isi file, struktur repo, atau hasil analisis. Jika data tidak tersedia, katakan \"informasi tidak ditemukan\".\n- Jangan melakukan commit file tanpa memberikan analisis dan persetujuan user buatkan proposalnya terlebih dahulu dan tanya user 'SETUJU' berarti lanjutkan dan jika 'TIDAK SEJUTU' jangan lanjutkan intinya tunggu persetujuan user sebelum commit dan HARUS DISERTAI PENJELASAN DAN PROPOSAL\n\nKEGAGALAN TOOL\nJika tool gagal, coba ulang maksimal 2 kali dengan parameter yang diperbaiki. Jika masih gagal, laporkan error apa adanya ke user — jangan kerjakan sendiri sebagai pengganti.",
          "maxIterations": 3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        176,
        400
      ],
      "id": "b5dbd6c3-416d-4161-8793-58cea17fd04d",
      "name": "CTO_Agent",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -400,
        384
      ],
      "id": "dc9f79eb-64ab-43da-8008-5e1a5fd059e4",
      "name": "Telegram Trigger",
      "webhookId": "c90da280-1312-4351-8642-ae96168ab91a",
      "credentials": {
        "telegramApi": {
          "id": "A4JQuid6W9BzisPl",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-duatuonaiw0g.jkt6.sumopod.my.id/webhook/logger-v1",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $json.message.chat.id }}"
            },
            {
              "name": "level",
              "value": "SUCCESS"
            },
            {
              "name": "agent",
              "value": "CTO"
            },
            {
              "name": "message",
              "value": "={{ 'Task selesai. Respons: ' + $node['CTO_Agent'].json.output.substring(0, 150) + '...' }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        496,
        400
      ],
      "id": "55295c23-edb5-4c5c-847b-2c8c0a5fc0ff",
      "name": "Loig success"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-duatuonaiw0g.jkt6.sumopod.my.id/webhook/logger-v1",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $json.chat_id }}"
            },
            {
              "name": "level",
              "value": "={{ $json.level }}"
            },
            {
              "name": "agent",
              "value": "={{ $json.agent }}"
            },
            {
              "name": "message",
              "value": "={{ $json.message }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -128,
        384
      ],
      "id": "b4854e93-4cc4-4a9b-941e-a08be242e6e3",
      "name": "INFO",
      "retryOnFail": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Ambil data dari Telegram\nconst chatId = $json.message?.chat?.id || '7218843690';\nconst messageText = $json.message?.text || '';\n\n// Format data untuk Logger\nconst logData = {\n  chat_id: chatId,\n  level: 'INFO',\n  agent: 'CTO',\n  message: `Task diterima: ${messageText.substring(0, 100)}...`\n};\n\n// Return data untuk HTTP Request DAN CTO_Agent\nreturn {\n  // Data untuk HTTP Request (Logger)\n  ...logData,\n  \n  // Data untuk CTO_Agent\n  text: messageText,  // ← INI YANG DIBUTUHKAN CTO_AGENT!\n  chat_id: chatId\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        384
      ],
      "id": "8ed4091d-7a64-4d9f-8f1a-22dc893214f3",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "daa631ed-8d0b-4014-9692-78e54a15f42e",
              "name": "Debug_text",
              "value": "={{ $('Code in JavaScript1').item.json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        336
      ],
      "id": "519e9726-ba25-4e20-9c01-8d1aa8e4a0da",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegram_chat_id || '7218843690' }}",
        "text": "={{ $json.message || $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        640,
        400
      ],
      "id": "24e1c1cd-ffc6-48cd-8027-d6f821da90b7",
      "name": "Send a text message",
      "webhookId": "c9612f18-4d93-467b-915f-90ef24a61788",
      "credentials": {
        "telegramApi": {
          "id": "A4JQuid6W9BzisPl",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {
    "Edit Fields": [
      {
        "json": {
          "Debug_text": "Test"
        }
      }
    ]
  },
  "connections": {
    "Think": {
      "ai_tool": [
        [
          {
            "node": "CTO_Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "github_read_file": {
      "ai_tool": [
        [
          {
            "node": "CTO_Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "github_list_directory": {
      "ai_tool": [
        [
          {
            "node": "CTO_Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "CTO_Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "CTO_Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Call 'CTO Agent Tools - Stage 4 (Code Generator + Validator + Repair + Commit)'": {
      "ai_tool": [
        [
          {
            "node": "CTO_Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Sub-Agent: Dynamic Specialist": {
      "ai_tool": [
        [
          {
            "node": "CTO_Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "CTO_Agent": {
      "main": [
        [
          {
            "node": "Loig success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loig success": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INFO": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "INFO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "CTO_Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "40775cdb-7942-4898-a3f2-66210f4c5f8b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dc96f10ae7dc95d3c138575ba243a0a167923dbcb524841d451aadf9135d5fb3"
  },
  "nodeGroups": [],
  "id": "W4oIbAiNz2GUw6Mb",
  "tags": []
}