n8n-workflows/5-AI-Business-Assistant.json
{
  "name": "AI Business Assistant - Lume's Everywhere",
  "nodes": [
    {
      "parameters": {
        "path": "ai-business-assistant",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {
          "rawBody": true
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [-400, 300],
      "typeVersion": 2,
      "webhookId": "ai-business-assistant"
    },
    {
      "parameters": {
        "jsCode": "const { message, branchId, role, userName } = $json;\n\nconst userRole = (role || 'owner').toLowerCase();\nconst userBranch = branchId || 1;\nconst userNameClean = userName || 'Owner';\n\nlet msg = (message || '').toLowerCase().trim();\n\n// ===== NORMALISASI BAHASA INDONESIA =====\n// Hapus salam sapaan\nmsg = msg.replace(/^(halo|hallo|helo|hi|hey|hai|siang|pagi|sore|malam|permisi|misi|maaf|bro|bang|kak|tolong|bantu|coba|test|tes)\\b[\\s,]*/gi, '');\n\n// Hapus pengulangan identitas (sudah ada di context)\nmsg = msg.replace(/(saya|aku|gw|gue)\\s+(owner|adalah|pemilik|admin)\\b[\\s,]*/gi, '');\nmsg = msg.replace(/\\bcabang\\s*(id\\s*)?\\d+\\b[\\s,]*/gi, '');\nmsg = msg.replace(/\\bbranch\\s*(id\\s*)?\\d+\\b[\\s,]*/gi, '');\n\n// Normalisasi frasa umum\nconst replacements = {\n  'sikit': 'sedikit',\n  'dikit': 'sedikit',\n  'abis': 'habis',\n  'abiz': 'habis',\n  'cek': 'lihat',\n  'cekidot': 'lihat',\n  'check': 'lihat',\n  'nambah': 'tambah',\n  'nmbah': 'tambah',\n  'nmbh': 'tambah',\n  'bikin': 'buat',\n  'bikinin': 'buat',\n  'produk': 'produk',\n  'menu': 'produk',\n  'produksi': 'produksi',\n  'produsi': 'produksi',\n  'stok': 'stok',\n  'stock': 'stok',\n  'bahan': 'bahan',\n  'bhn': 'bahan',\n  'bhn baku': 'bahan baku',\n  'pengeluaran': 'pengeluaran',\n  'belanja': 'pengeluaran',\n  'biaya': 'pengeluaran',\n  'laporan': 'laporan',\n  'report': 'laporan',\n  'revenue': 'pendapatan',\n  'profit': 'keuntungan',\n  'untung': 'keuntungan',\n  'rugi': 'kerugian',\n};\nfor (const [key, val] of Object.entries(replacements)) {\n  const regex = new RegExp('\\\\b' + key + '\\\\b', 'gi');\n  msg = msg.replace(regex, val);\n}\n\n// Peta intent ke perintah teknis\nconst intentMap = [\n  { pattern: /lihat stok menipis|stok (habis|sedikit|menipis|kritis|tipis)|bahan (habis|sedikit|menipis)/, intent: 'INTENT: CEK_STOK_MENIPIS' },\n  { pattern: /lihat (bahan baku|bahan|ingredient)|daftar bahan/, intent: 'INTENT: LIHAT_BAHAN' },\n  { pattern: /tambah (bahan|bahan baku|ingredient)/, intent: 'INTENT: TAMBAH_BAHAN' },\n  { pattern: /stok (masuk|in|tambah)|tambah stok/, intent: 'INTENT: STOK_MASUK' },\n  { pattern: /stok (keluar|out|kurang)|kurang stok/, intent: 'INTENT: STOK_KELUAR' },\n  { pattern: /produksi|produk (jadi|setengah jadi)|bikin|buat (stok|produk)/, intent: 'INTENT: PRODUKSI' },\n  { pattern: /lihat (produk|menu|produk menu)/, intent: 'INTENT: LIHAT_PRODUK' },\n  { pattern: /tambah (produk|menu)/, intent: 'INTENT: TAMBAH_PRODUK' },\n  { pattern: /lihat (resep|bom|recipe)/, intent: 'INTENT: LIHAT_RESEP' },\n  { pattern: /catat (pengeluaran|biaya|belanja)/, intent: 'INTENT: CATAT_PENGELUARAN' },\n  { pattern: /laporan (keuangan|finansial)|lihat (laporan|keuangan|pendapatan|keuntungan)/, intent: 'INTENT: LAPORAN_KUANGAN' },\n];\n\nlet detectedIntent = '';\nfor (const entry of intentMap) {\n  if (entry.pattern.test(msg)) {\n    detectedIntent = entry.intent;\n    break;\n  }\n}\n\n// Bersihkan spasi berlebih\nmsg = msg.replace(/\\s+/g, ' ').trim();\n\n// Jika pesan kosong setelah normalisasi, pakai aslinya (kasih tau user)\nif (!msg) {\n  msg = (message || '').trim();\n}\n\nconst prefix = detectedIntent ? detectedIntent + '\\n' : '';\nconst context = 'USER: ' + userNameClean + ' | ROLE: ' + userRole + ' | BRANCH: ' + userBranch + '\\n';\nconst fullMessage = context + prefix + msg;\n\nreturn [{ json: { message: fullMessage, detectedIntent, userBranch } }];"
      },
      "id": "parse-input",
      "name": "Parse Input",
      "type": "n8n-nodes-base.code",
      "position": [-256, 300],
      "typeVersion": 2
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "deepseek-v4-pro",
          "mode": "list",
          "cachedResultName": "DEEPSEEK-V4-PRO"
        },
        "options": {}
      },
      "id": "deepseek-model",
      "name": "DeepSeek Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [128, 620],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_DEEPSEEK_CREDENTIAL_ID",
          "name": "OpenAI/DeepSeek API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Kamu adalah asisten operasional Lume's Everywhere POS. Kamu HARUS menggunakan tools untuk menjawab.\n\nATURAN WAJIB:\n1. BACA data user di awal pesan (USER, ROLE, BRANCH) — JANGAN tanya ulang\n2. JANGAN PERNAH memberi salam, perkenalan, atau sambutan\n3. JANGAN PERNAH mengulangi jawaban yang persis sama\n4. LANGSUNG panggil tool yang sesuai — jangan coba jawab dari pengetahuan umum\n5. Jika ada INTENT di pesan, gunakan tool yang paling cocok dengan intent tersebut\n6. Branch ID sudah ada — pakai untuk semua tool yang butuh branchId\n7. KALAU USER NANYA STOK → panggil getLowStock atau listIngredients\n8. KALAU USER MINTA PRODUKSI → panggil produceSemiFinished\n9. KALAU USER MINTA TAMBAH PRODUK/BAHAN → panggil createProduct/createIngredient\n10. KALAU USER MINTA LAPORAN → panggil getFinancialReport\n11. KALAU USER CATAT PENGELUARAN → panggil createExpense\n12. KALAU USER NANYA MENU/PRODUK → panggil listProducts\n\nOBROLAN UMUM: Jika user hanya ngobrol (bukan perintah bisnis), balas singkat 1-2 kalimat. TAPI jika ada perintah, WAJIB panggil tool.\n\nRESPON:\n- Jika tool berhasil: \"✅ [hasil]\" + ringkasan data\n- Jika tool gagal: \"❌ [penyebab]\"\n- Jika butuh info tambahan: tanya spesifik (bukan perkenalan)\n- Bahasa Indonesia santai dan to the point",
          "maxIterations": 5
        }
      },
      "id": "ai-agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [128, 400],
      "typeVersion": 3.1,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "toolDescription": "=Wajib dipakai jika user minta lihat daftar bahan baku atau ingredient.\nUrl: GET http://localhost:3000/api/ingredients?branchId=X\nParameter: branchId (number, ambil dari data pengguna)",
        "url": "=http://localhost:3000/api/ingredients?branchId={{ $fromAI('branchId') }}",
        "authentication": "none",
        "options": {}
      },
      "id": "tool-list-ingredients",
      "name": "listIngredients",
      "type": "n8n-nodes-base.httpRequestTool",
      "position": [-256, 620],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "toolDescription": "=Wajib dipakai jika user minta TAMBAH bahan baku baru.\nMethod: POST http://localhost:3000/api/ingredients\nBody: { branchId, name, unit, costPricePerUnit, minimalStock }",
        "url": "http://localhost:3000/api/ingredients",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "branchId", "value": "={{ $fromAI('branchId') }}" },
            { "name": "name", "value": "={{ $fromAI('name') }}" },
            { "name": "unit", "value": "={{ $fromAI('unit') }}" },
            { "name": "costPricePerUnit", "value": "={{ $fromAI('costPricePerUnit') }}" },
            { "name": "minimalStock", "value": "={{ $fromAI('minimalStock') }}" }
          ]
        },
        "options": {}
      },
      "id": "tool-create-ingredient",
      "name": "createIngredient",
      "type": "n8n-nodes-base.httpRequestTool",
      "position": [-128, 620],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "toolDescription": "=Wajib dipakai jika user minta ADJUSTMENT stok (masuk/keluar/loss) untuk bahan atau setengah jadi.\nMethod: POST http://localhost:3000/api/stock-adjustments\nBody: { branchId, itemType, itemId, adjustmentType, quantity, purchasePriceTotal, notes }",
        "url": "http://localhost:3000/api/stock-adjustments",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "branchId", "value": "={{ $fromAI('branchId') }}" },
            { "name": "itemType", "value": "={{ $fromAI('itemType') }}" },
            { "name": "itemId", "value": "={{ $fromAI('itemId') }}" },
            { "name": "adjustmentType", "value": "={{ $fromAI('adjustmentType') }}" },
            { "name": "quantity", "value": "={{ $fromAI('quantity') }}" },
            { "name": "purchasePriceTotal", "value": "={{ $fromAI('purchasePriceTotal') }}" },
            { "name": "notes", "value": "={{ $fromAI('notes') }}" }
          ]
        },
        "options": {}
      },
      "id": "tool-adjust-stock",
      "name": "adjustStock",
      "type": "n8n-nodes-base.httpRequestTool",
      "position": [0, 620],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "toolDescription": "=Wajib dipakai jika user minta lihat daftar SETENGAH JADI (semi-finished items).\nUrl: GET http://localhost:3000/api/semi-finished?branchId=X\nParameter: branchId (number)",
        "url": "=http://localhost:3000/api/semi-finished?branchId={{ $fromAI('branchId') }}",
        "authentication": "none",
        "options": {}
      },
      "id": "tool-list-semi-finished",
      "name": "listSemiFinished",
      "type": "n8n-nodes-base.httpRequestTool",
      "position": [128, 840],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "toolDescription": "=WAJIB dipakai jika user minta PRODUKSI setengah jadi.\nMethod: POST http://localhost:3000/api/semi-finished/{semiFinishedId}/produce\nBody: { producedWeight }\nParameter: semiFinishedId (number, dari user), producedWeight (number, dari user)",
        "url": "=http://localhost:3000/api/semi-finished/{{ $fromAI('semiFinishedId') }}/produce",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "producedWeight", "value": "={{ $fromAI('producedWeight') }}" }
          ]
        },
        "options": {}
      },
      "id": "tool-produce",
      "name": "produceSemiFinished",
      "type": "n8n-nodes-base.httpRequestTool",
      "position": [256, 840],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "toolDescription": "=Wajib dipakai jika user minta lihat daftar PRODUK MENU.\nUrl: GET http://localhost:3000/api/products?branchId=X&search=Y\nParameter: branchId (number), search (string, optional)",
        "url": "=http://localhost:3000/api/products?branchId={{ $fromAI('branchId') }}{{% if $fromAI('search') %}}&search={{ $fromAI('search') }}{% endif %}}",
        "authentication": "none",
        "options": {}
      },
      "id": "tool-list-products",
      "name": "listProducts",
      "type": "n8n-nodes-base.httpRequestTool",
      "position": [384, 840],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "toolDescription": "=WAJIB dipakai jika user minta TAMBAH produk menu baru.\nMethod: POST http://localhost:3000/api/products\nBody: { branchId, name, price, categoryId, imageUrl }",
        "url": "http://localhost:3000/api/products",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "branchId", "value": "={{ $fromAI('branchId') }}" },
            { "name": "name", "value": "={{ $fromAI('name') }}" },
            { "name": "price", "value": "={{ $fromAI('price') }}" },
            { "name": "categoryId", "value": "={{ $fromAI('categoryId') }}" },
            { "name": "imageUrl", "value": "={{ $fromAI('imageUrl') }}" }
          ]
        },
        "options": {}
      },
      "id": "tool-create-product",
      "name": "createProduct",
      "type": "n8n-nodes-base.httpRequestTool",
      "position": [512, 840],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "toolDescription": "=Wajib dipakai jika user minta lihat RESEP (BOM) produk atau setengah jadi.\nUrl: GET http://localhost:3000/api/recipes?parentType=X&parentId=Y\nParameter: parentType ('product'|'semi_finished'), parentId (number)",
        "url": "=http://localhost:3000/api/recipes?parentType={{ $fromAI('parentType') }}&parentId={{ $fromAI('parentId') }}",
        "authentication": "none",
        "options": {}
      },
      "id": "tool-list-recipes",
      "name": "listRecipes",
      "type": "n8n-nodes-base.httpRequestTool",
      "position": [640, 840],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "toolDescription": "=WAJIB dipakai jika user minta CATAT PENGELUARAN.\nMethod: POST http://localhost:3000/api/expenses\nBody: { branchId, description, amount, category, notes }",
        "url": "http://localhost:3000/api/expenses",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "branchId", "value": "={{ $fromAI('branchId') }}" },
            { "name": "description", "value": "={{ $fromAI('description') }}" },
            { "name": "amount", "value": "={{ $fromAI('amount') }}" },
            { "name": "category", "value": "={{ $fromAI('category') }}" },
            { "name": "notes", "value": "={{ $fromAI('notes') }}" }
          ]
        },
        "options": {}
      },
      "id": "tool-create-expense",
      "name": "createExpense",
      "type": "n8n-nodes-base.httpRequestTool",
      "position": [768, 840],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "toolDescription": "=WAJIB dipakai jika user minta LAPORAN KEUANGAN (pendapatan, profit, revenue, laporan).\nUrl: GET http://localhost:3000/api/dashboard/financial?branchId=X&startDate=Y&endDate=Z\nParameter: branchId (number), startDate (string, optional), endDate (string, optional)",
        "url": "=http://localhost:3000/api/dashboard/financial?branchId={{ $fromAI('branchId') }}{{% if $fromAI('startDate') %}}&startDate={{ $fromAI('startDate') }}{% endif %}}{{% if $fromAI('endDate') %}}&endDate={{ $fromAI('endDate') }}{% endif %}}",
        "authentication": "none",
        "options": {}
      },
      "id": "tool-financial-report",
      "name": "getFinancialReport",
      "type": "n8n-nodes-base.httpRequestTool",
      "position": [896, 840],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "toolDescription": "=WAJIB dipakai jika user minta CEK STOK MENIPIS (stok habis, stok sedikit, bahan menipis).\nUrl: GET http://localhost:3000/api/inventory/low-stock?branchId=X\nParameter: branchId (number, default 1)",
        "url": "=http://localhost:3000/api/inventory/low-stock?branchId={{ $fromAI('branchId') }}",
        "authentication": "none",
        "options": {}
      },
      "id": "tool-low-stock",
      "name": "getLowStock",
      "type": "n8n-nodes-base.httpRequestTool",
      "position": [1024, 840],
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "jsCode": "const output = $json.output || $json.reply || JSON.stringify($json);\nreturn [{ json: { reply: output } }];"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "position": [384, 300],
      "typeVersion": 2
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Parse Input", "type": "main", "index": 0 }]]
    },
    "Parse Input": {
      "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "listIngredients": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "createIngredient": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "adjustStock": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "listSemiFinished": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "produceSemiFinished": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "listProducts": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "createProduct": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "listRecipes": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "createExpense": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "getFinancialReport": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "getLowStock": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "AI Agent": {
      "main": [[{ "node": "Format Response", "type": "main", "index": 0 }]]
    }
  }
}
